.THIS{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'customFont';
    font-size: 16px;
    color: black;
}

.THIS .suffix{
    font-size: 12px;
}

.THIS.selected{
    text-decoration: tomato;
    text-decoration-style: solid;
    text-decoration-line: underline;
    font-size: 18px;
    color: tomato;
}