.THIS {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.THIS .rounds{
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS .round{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'customFont';
    font-size: 18px;
    color: black;
}

.THIS .card-container{
    height: 500px;
    perspective: 600;
    position: relative;
}

.THIS .card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}


.THIS .card.flipper {
    transform: rotateY(180deg);
}

.THIS .side {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    

    background: grey;
}

.THIS .back {
    transform: rotateY(180deg);

    background: grey;
}