.THIS {
    box-shadow: 10px 10px 5px grey;
    margin: 8px;
}

.THIS:hover{
    cursor: pointer;
}

.THIS.selected {
    border: solid;
    border-color: tomato;
    border-width: 3px;
}

.THIS .titlecontainer {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
}

.THIS .title {
    font-family: 'customFont';
    font-size: 20px;
    color: black;
    margin-left: 5px;
}

.THIS .content-info {
    font-family: 'customFont';
    font-size: 12px;
    color: slategrey;
    text-align: center;
    margin-left: 5px;
}

.THIS .icn svg{
    fill:goldenrod;
}